
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
    
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

img {
    width: 100%;
}


/*_________________________________________________*/
/*Services*/

.background-services {
    background-color: #f7f7f7;
    width: 100%;
    padding: 30px 0 ;
}


.intro {
    
     h2 {
        @include h2lato;
         
         
    }
    
    
.lato-18 {
        @include lato-18;
 
    }
       
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    
    grid-gap: 10px;
    
    justify-items: center;
}


 .intro-intro, 
 .intro-content,
 .intro-icon {
     
     
     max-width: 80%;
     margin: 0 auto;
     text-align: center;
           
}


.intro-content {
    margin-bottom: 30px;
    
	}


.intro-icon {
    padding: 10px 0;
}





.item11 {
    grid-column: 1;
    grid-row: 1;
}



.item21 {
    grid-column: 1;
    grid-row: 2;
    

}

.item31 {
    grid-column: 1;
    grid-row: 3;
}


.item41 {
    grid-column: 1;
    grid-row: 4;
}

.item51 {
    grid-column: 1;
    grid-row: 5;
}


/*Brakpoint tablet services*/
/*________________________________________________*/
/*services*/


@include bp(tablet){
        
.intro {
    
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, auto);
    
    grid-gap: 20px;    
}

 .intro-intro, 
 .intro-content,
 .intro-icon {
     
     
     width: 90%;
     margin: 0 auto;
     text-align: left;
           
}
    
    .intro-content {
    margin-bottom: 40px;
    
	}


    .item11 {
        grid-column: 3 / span 4;
        grid-row: 1 ;

    }

    .item21 {
        grid-column: 2 / span 3;
        grid-row: 2;

    }

    .item31 {
        grid-column: 2 / span 3;
        grid-row: 3;
    }

    .item41 {
        grid-column: 5 / span 3;
        grid-row: 2;
    }

    .item51 {
        grid-column: 5 / span 3;
        grid-row: 3;
    }

}

/*Brakpoint desktop services*/
/*________________________________________________*/
/*services*/


@include bp(desktop){
    
    
    
.intro {
    
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    
    grid-gap: 5px;
    
}

 .intro-intro, 
 .intro-content,
 .intro-icon {
     
     width: 90%;
     max-width: 88%;
     margin: 0 auto;
     text-align: left;
         
}
    
    
    
   .intro-intro > div h2  {
        text-align: left;
    }

    .intro-intro > div .lato-18 {
        text-align: left;
    }
    
    .intro-content {
        margin-bottom: 20px;
    
	}
    
    
    

    .item11 {
        grid-column: 1 / span 4;
        grid-row: 1 ;
        padding-top: 10px;
  
    }
    


    .item21 {
        grid-column: 5 / span 4;
        grid-row: 1;
        
    }

    .item31 {
        grid-column: 5 / span 4;
        grid-row: 2;
    }

    .item41 {
        grid-column: 9 / span 4;
        grid-row: 1;
    }

    .item51 {
        grid-column: 9 / span 4;
        grid-row: 2;
    }
  
}
    






