/**
 * ----------------------------------------------------------------------------------------
 * Dividers
 * ----------------------------------------------------------------------------------------
 */

hr {
    display: block;
    height: 1px;
    margin: 3px;
    
    border: none;
    
    background-color: $color-hr;
}